%h2 All Friends

%table

  - @friends.each do |friend|
    %tr
      %td= friend.first_name + " " + friend.last_name
      %td= link_to 'Unfriend', friend, :confirm => 'Are you sure?', :method => :delete

%br

