.adHeader
	%h2 Advertisements
	%ul
		%li= link_to 'New Advertisement', new_advertisement_path, :remote => true
		\|
		%li= link_to 'Show All Ads', '/advertisements', :remote => true

.adMain
	.adList
		= render @advertisements

