%h3 Ads Preference

.newPreference
	= form_for(@preference, :remote => true) do |f|
		= f.text_field :interest, :size => 15, :placeholder => 'New Preference'
		= f.submit 'Add'

.preferenceList
	= render @preferences
