// Place all the styles related to the advertisements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adHeader {
	border-bottom: 1px solid #B8D4E8;
}

.adHeader li {
	display: inline;
}

.aAd {
	border-bottom: 1px solid #B8D4E8;
}

.aAd table {
	padding-left: 100px;
	padding-top: 10px;
}
