/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
	margin-left: 200px;
	margin-right: 200px;
}

a {
		text-decoration: none;
}

textarea {
	resize: vertical;
}

#header {
	height: 75px;
}

#main {
}

#leftBar {
	width: 150px;
	border: 1px solid #B8D4E8;
	background-color: #F0F5F8;
	padding:15px;
	position: relative;
	float: left;
}

#mainBar {
	margin: 15px;
	float: left;
	width: 500px;
}

#rightBar {
}

