/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */

body {
	margin-left: 175px;
	margin-right: 175px;
}

a {
		text-decoration: none;
}

textarea {
	resize: vertical;
}

ul {
	list-style: none;
}

#header {
	height: 75px;
	background-color: #0067A0;
	margin-bottom: 4px;
	color: white;
}

#navigationBar {
	padding-top: 20px;
	padding-right: 5px;
}

#navigationBar ul{
	display: inline;
	float: right;
}

#navigationBar li {
	display: inline;
}

#navigationBar a{
	display: inline;
	color: white;
}


#main {
}

#leftBar {
	width: 150px;
	border: 1px solid #B8D4E8;
	background-color: #F0F5F8;
	padding: 15px;
	position: relative;
	float: left;
}

#mainBar {
	margin: 15px;
	position: relative;
	float: left;
	width: 500px;
}

#rightBar {
	width: 150px;
	padding: 15px;
	float: left;
}

