// Place all the styles related to the circles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circleMemberList {
	border-bottom: 1px solid #E6EFF7;
}

.newCircleMemberDiv {
	padding: 10px;
}

.circleHeader {
	border-bottom: 1px solid #E6EFF7;
}

.aCircle {
	margin: 5px;
	border-bottom: 1px solid #E6EFF7;
}
