// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aComment {
	border-bottom: 1px solid #E6EFF7;
	font-size: 10px;
}

.comment {
	padding: 3px;
	font-size: 12px;
}

.commentList {
	background-color: #F3FAFF;
}

.newComment {
	padding-bottom: 5px;
}
