// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groupHeader {
	width: 500px;
	margin-bottom: 10px;
	padding: 3px;
	border-bottom: 1px solid #E6EFF7;
}

.groupList {
	padding: 3px;
}

.aGroup {
	padding: 10px;
	background-color: #F7F7F7;
}

.aGroup form {
	float: right;
}
