// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aPost {
	border-bottom: 1px solid #E6EFF7;
}

.post {
	font-size: 14px;
}

.time {
	font-size: 9px;
}
