// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postForm {
	padding: 5px;
	background-color: #F3FAFF;
}

.aPost {
	border-bottom: 1px solid #E6EFF7;
}

.newsFeedHeader {
	height: 40px;
	padding: 2px;
	border-bottom: 1px solid #E6EFF7;
}

.newsFeed {
	margin-top: 2px;
}

.postUser {
	display: inline;
	float: left;
	padding: 5px;
	margin-right: 5px;
	background-color: #D2D9E7;
}

.postConent p {
	font-size: 14px;
}

.postEdit {
	font-size: 10px;
}

.postEdit a {
	float: right;
	padding: 2px;
}
