// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aUser {
	padding: 4px;
	background-color: #EDEFF4;
	height: 30px;
	margin-bottom: 4px;
}

.aUser form {
	display: inline;
	float: right;
}

.userProfileHeader {
	border-bottom: 1px solid #B8D4E8;
}
